.image {
    height: 100px;
    width: 180px;
    float: left;
    border-radius: 50%;
    border-style: solid;
    border-color: #cc0000;
    border-width: 8px;
    margin-right: 1em;
    box-shadow: 0px 10px 10px 2px #888888
}